<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org>">
<head>
    <meta charset="UTF-8">
    <title>New purchase</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          rel="stylesheet">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="navbar::navbarinclude"></div>
    <h1>Add car</h1>

    <form action="#" th:action="@{/add/purchase}" th:object="${purchase}" method="post">
        <input type="hidden" th:field="*{id}">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Customer:</label>
            <select th:field="*{customer}"
                    class="form-control col-sm-3">
                <option th:each="customer: ${customers}" th:value="${customer.id}"
                        th:text="${customer.firstName} + ' ' + ${customer.lastName}"/>
            </select>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Car:</label>
            <select th:field="*{car}"
                    class="form-control col-sm-3">
                <option th:each="car: ${cars}" th:value="${car.id}"
                        th:text="${car.name}"/>
            </select>
            </select>
        </div>

        <div class="form-group row">
            <label class="col-sm-2" col-form-label>Where did he buy it: </label><select th:field="*{carDealership}"
                                                                                        class="form-control col-sm-3">
            <option th:each="cardealership: ${cardealerships}" th:value="${cardealership.id}"
                    th:text="${cardealership.name}"/>
        </select>
        </div>

        <div class="form-group row">
            <label class="col-sm-2" col-form-label>Date: </label>
            <input type="date" class="form-control col-sm-2" th:field="*{purchaseDate}">                                 class="form-control col-sm-3">
            </select>
        </div>

        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>

</div>
</body>
</html>