<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org>">
<head>
    <meta charset="UTF-8">
    <title>Add customer</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="navbar::navbarinclude"></div>
    <h1>Add customer</h1>
    <form action="#" th:action="@{/add/customer}" th:object="${customer}" method="post">
        <p>Id: <input type="text" th:field="*{id}"/></p>
        <p>First name: <input type="text" th:field="*{firstName}"/></p>
        <p>Last name: <input type="text" th:field="*{lastName}"/></p>
        <p>Email: <input type="text" th:field="*{email}"/></p>
        <p>Phone: <input type="text" th:field="*{phone}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
</body>
</html>