<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="navbar::navbarinclude"></div>
    <div>
        <table class="table table-striped" border="1">

            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Details</th>
            </tr>

            <tr th:each="cardealership : ${cardealerships}">
                <td th:utext="${cardealership.name}"></td>
                <td th:utext="${cardealership.city}"></td>
                <td><a th:href="${'/cardealership/' + cardealership.id}"/>View</td>
            </tr>

        </table>
    </div>
</div>
</body>
</html>