<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="navbar::navbarinclude"></div>
    <div class="row">
        <div class="col-sm-3">
            <a th:href="${'/add/cardealership'}" role="button" class="btn btn-success">Add cardealership</a>
        </div>
    </div>
    <div>
        <table class="table table-striped" border="1">

            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <tr th:each="cardealership : ${cardealerships}">
                <td th:utext="${cardealership.name}"></td>
                <td th:utext="${cardealership.city}"></td>
                <td><a th:href="${'/cardealership/' + cardealership.id}"/>View</td>
                <td><a th:href="${'/edit/cardealership/' + cardealership.id}"/>Edit</td>
                <td>
                    <form method="POST" th:action="@{/delete/cardealership}">
                        <input type="hidden" name="id" th:value="${cardealership.id}"/>
                        <button type="submit" name="submit" value="value" class="link-button">Delete</button>
                    </form>
                </td>
            </tr>


        </table>
    </div>


</div>
</body>
</html>