<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="navbar::navbarinclude"></div>
    <div>
        <table class="table table-striped" border="1">

            <tr>
                <th>Name</th>
                <th>Release date</th>
                <th>Engine displacement</th>
                <th>Details</th>
            </tr>

            <tr th:each="car : ${cars}">
                <td th:utext="${car.name}"></td>
                <td th:utext="${car.releaseDate}"></td>
                <td><a th:href="${'/car/' + car.id}"/>View</td>
                <td><a th:href="${'/delete/car/' + car.id}"/>Delete</td>
            </tr>

        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a th:href="${'/add/car'}" role="button" class="btn btn-success">Add car</a>
        </div>
    </div>


</div>
</body>
</html>