<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="navbar::navbarinclude"></div>

    <div style="margin: 10px" class="row">
        <form class="form-inline col-sm-5 " th:action="@{/cars/decrease}" th:method="post">
            <input class="form-control" type="text" placeholder="percentage" th:name="percentage">
            <input class="btn btn-outline-success" type="submit" value="Decrease prices">
        </form>
    </div>

    <div style="margin: 10px" class="row">
        <form class="form-inline col-sm-5" th:action="@{/cars/increase}" th:method="post">
            <input class="form-control" type="text" placeholder="percentage" th:name="percentage">
            <input class="btn btn-outline-success" type="submit" value="Increase prices">
        </form>
    </div>

    <div class="row">
        <div style="margin: 10px" class="col-sm-3"><a th:href="${'/cars/ranking'}" role="button"
                                                      class="btn btn-success">Cars ranking by repairs / purchases
            ratio</a></div>

    </div>

    <div class="row">
        <div class="col-sm-3">
            <a th:href="${'/add/car'}" role="button" class="btn btn-success">Add car</a>
        </div>
        <div class="col-sm-9">
            <form class="form-inline float-right" th:action="@{/cars}" method="get">
                <input class="form-control" type="search" th:name='name' placeholder="name"
                       aria-label="Search">
                <input class="form-control" type="search" th:name='minPrice' placeholder="mininum price"
                       aria-label="Search">
                <input class="form-control" type="search" th:name='maxPrice'
                       placeholder="maximum price"
                       aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>


    <div>
        <table class="table table-striped" border="1">

            <tr>
                <th>Name</th>
                <th>Engine displacement</th>
                <th>Price</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <tr th:each="car : ${cars}">
                <td th:utext="${car.name}"></td>
                <td th:utext="${car.engineDisplacement}"></td>
                <td th:utext="${car.price}"></td>
                <td><a th:href="${'/car/' + car.id}"/>View</td>
                <td><a th:href="${'/edit/car/' + car.id}"/>Edit</td>
                <td>
                    <form method="POST" th:action="@{/delete/car}">
                        <input type="hidden" name="id" th:value="${car.id}"/>
                        <button type="submit" name="submit" value="value" class="link-button">Delete</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>


</div>
</body>
</html>