<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="navbar::navbarinclude"></div>

    <div class="row">
        <div class="col-sm-3">
            <a th:href="${'/add/purchase'}" role="button" class="btn btn-success">New purchase</a>
        </div>
        <div class="col-sm-9">
            <form class="form-inline float-right" th:action="@{/purchases}" method="get">
                <input class="form-control" type="search" th:name='phraseSearch' placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>


    <div>
        <table class="table table-striped" border="1">

            <tr>
                <th>Id</th>
                <th>Customer</th>
                <th>Car</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>

            <tr th:each="purchase : ${purchases}">
                <td th:utext="${purchase.id}"></td>
                <td th:utext="${purchase.customer.firstName + ' ' + purchase.customer.lastName}"></td>
                <td th:utext="${purchase.car.name}"></td>
                <td><a th:href="${'/purchase/' + purchase.id}"/>View</td>
                <td>
                    <form method="POST" th:action="@{/delete/purchase}">
                        <input type="hidden" name="id" th:value="${purchase.id}" />
                        <button type="submit" name="submit" value="value" class="link-button">Delete</button>
                    </form>
                    <!--<a th:href="${'/delete/purchase/' + purchase.id}"/>Delete</td>-->
            </tr>
        </table>
    </div>
</div>
</body>
</html>